{
    <code>super.onCreate(savedInstanceState);
    setContentView(R.layout.main);

// Initializing controls

    editRollno=(EditText)findViewById(R.id.editRollno);
    editName=(EditText)findViewById(R.id.editName);
    editMarks=(EditText)findViewById(R.id.editMarks);
    btnAdd=(Button)findViewById(R.id.btnAdd);
    btnDelete=(Button)findViewById(R.id.btnDelete);
    btnModify=(Button)findViewById(R.id.btnModify);
    btnView=(Button)findViewById(R.id.btnView);
    btnViewAll=(Button)findViewById(R.id.btnViewAll);
    btnShowInfo=(Button)findViewById(R.id.btnShowInfo);

// Registering event handlers

    btnAdd.setOnClickListener(this);
    btnDelete.setOnClickListener(this);
    btnModify.setOnClickListener(this);
    btnView.setOnClickListener(this);
    btnViewAll.setOnClickListener(this);
    btnShowInfo.setOnClickListener(this);
db.execSQL("INSERT INTO student VALUES('"+editRollno.getText()+"','"+
editName.getText()+"','"+editMarks.getText()+"');");
db.execSQL("DELETE FROM student WHERE rollno='"+editRollno.getText()+"'");
b.execSQL("UPDATE student SET name='"+editName.getText()+"',marks='"+
editMarks.getText()+"' WHERE rollno='"+editRollno.getText()+"'");
Cursor c=db.rawQuery("SELECT * FROM student WHERE rollno='"+editRollno.getText()+"'", null);
if(c.moveToFirst())
{
    editName.setText(c.getString(1));
    editMarks.setText(c.getString(2));
}Cursor c=db.rawQuery("SELECT * FROM student", null);
if(c.getCount()==0)
{
    showMessage("Error", "No records found");
    return;
}
StringBuffer buffer=new StringBuffer();
while(c.moveToNext())
{
    buffer.append("Rollno: "+c.getString(0)+"\n");
    buffer.append("Name: "+c.getString(1)+"\n");
    buffer.append("Marks: "+c.getString(2)+"\n\n");
}
showMessage("Student Details", buffer.toString());
public void onClick(View view)
{
// Adding a record
    if(view==btnAdd)
    {
    // Checking empty fields
        if(editRollno.getText().toString().trim().length()==0||
           editName.getText().toString().trim().length()==0||
           editMarks.getText().toString().trim().length()==0)
        {
            showMessage("Error", "Please enter all values");
            return;
        }
    // Inserting record
        db.execSQL("INSERT INTO student VALUES('"+editRollno.getText()+"','"+editName.getText()+
                   "','"+editMarks.getText()+"');");
        showMessage("Success", "Record added");
        clearText();
    }
// Deleting a record
    if(view==btnDelete)
    {
    // Checking empty roll number
        if(editRollno.getText().toString().trim().length()==0)
        {
            showMessage("Error", "Please enter Rollno");
            return;
        }
    // Searching roll number
        Cursor c=db.rawQuery("SELECT * FROM student WHERE rollno='"+editRollno.getText()+"'", null);
        if(c.moveToFirst())
        {
        // Deleting record if found
            db.execSQL("DELETE FROM student WHERE rollno='"+editRollno.getText()+"'");
            showMessage("Success", "Record Deleted");
        }
        else
        {
            showMessage("Error", "Invalid Rollno");
        }
        clearText();
    }
// Modifying a record
    if(view==btnModify)
    {
    // Checking empty roll number
        if(editRollno.getText().toString().trim().length()==0)
        {
            showMessage("Error", "Please enter Rollno");
            return;
        }
    // Searching roll number
        Cursor c=db.rawQuery("SELECT * FROM student WHERE rollno='"+editRollno.getText()+"'", null);
        if(c.moveToFirst())
        {
        // Modifying record if found
            db.execSQL("UPDATE student SET name='"+editName.getText()+"',marks='"+editMarks.getText()+
                    "' WHERE rollno='"+editRollno.getText()+"'");
            showMessage("Success", "Record Modified");
        }
        else
        {
            showMessage("Error", "Invalid Rollno");
        }
        clearText();
    }
// Viewing a record
    if(view==btnView)
    {
    // Checking empty roll number
        if(editRollno.getText().toString().trim().length()==0)
        {
            showMessage("Error", "Please enter Rollno");
            return;
        }
    // Searching roll number
        Cursor c=db.rawQuery("SELECT * FROM student WHERE rollno='"+editRollno.getText()+"'", null);
        if(c.moveToFirst())
        {
        // Displaying record if found
            editName.setText(c.getString(1));
            editMarks.setText(c.getString(2));
        }
        else
        {
            showMessage("Error", "Invalid Rollno");
            clearText();
        }
    }
// Viewing all records
    if(view==btnViewAll)
    {
    // Retrieving all records
        Cursor c=db.rawQuery("SELECT * FROM student", null);
    // Checking if no records found
        if(c.getCount()==0)
        {
            showMessage("Error", "No records found");
            return;
        }
    // Appending records to a string buffer
        StringBuffer buffer=new StringBuffer();
        while(c.moveToNext())
        {
            buffer.append("Rollno: "+c.getString(0)+"\n");
            buffer.append("Name: "+c.getString(1)+"\n");
            buffer.append("Marks: "+c.getString(2)+"\n\n");
        }
    // Displaying all records
        showMessage("Student Details", buffer.toString());
    }
// Displaying info
    if(view==btnShowInfo)
    {
    showMessage("Student Management Application", "Developed By Azim");
    }
}
The following user-defined function is used to display message to the user:

Hide   Copy Code
public void showMessage(String title,String message)
{
    Builder builder=new Builder(this);
    builder.setCancelable(true);
    builder.setTitle(title);
    builder.setMessage(message);
    builder.show();
}
public void clearText()
{
    editRollno.setText("");
    editName.setText("");
    editMarks.setText("");
    editRollno.requestFocus();
}
